---
---

//
// IMPORTS
//

@import "variables";
@import "base";
@import "burger";

.wrapper {
  width: 100%;
  transition: margin 0.4s;
  position: relative;
  .menu-open & {
    margin-left: 500px;
  }
}


.hero {
  position: relative;
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  &__content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -80px;
  }
  &__header {
    color: #fff;
    margin-bottom: 20px;
  }
  &.loaded {
    opacity: 1;
  }

  &__links {
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(images/img1.jpg) no-repeat center center;
  }
}



.demo-1 {
  .btn, .nav-pills a, #burger {
    transition: border 0.2s, background 0.2s, color 0.2s;
  }

  &.wrapper {
    transition: transform 0.4s;
    will-change: transform;
    .menu-open & {
      margin: 0;
      transform: translateX(500px);
    }
  }

  #burger {
    .menu-open & {
      i {
        &:before {
          content: "\f00d"
        }
      }
    }
    &:hover {
      color: darken(#337ab7, 10%);
    }
  }
}


.demo-2 {
  .hero {
    background: #222;
    &__bg {
      transition: opacity 0.8s;
      opacity: 0;
      &.loaded {
        opacity: 1;
      }
    }
  }
}



.demo-3 {
  .hero {
    &__content {
      transition: transform 1s, opacity 3s;
      opacity: 0;
      transform: translateY(30px);
      .active & {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.demo-4 {
  .hero {
    &__content {
      transition-timing-function: $ease-out-back;
    }
    &__links {
      li {
        transition: opacity 3s, transform 1s;
        transition-timing-function: $ease-out-back;
        opacity: 0;
        transform: translateY(30px);
        &:nth-child(2) {
          transition-delay: 0.1s
        }
        &:nth-child(3) {
          transition-delay: 0.2s
        }
        .active & {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  .drawer {
    transition: opacity 1s;
    opacity: 0;
    .menu-open & {
      opacity: 1;
    }
  }
}


.demo-5 {
  .hero {
    &__content {
      transition: -webkit-filter 1s 0.4s, opacity 0.6s 0.4s;
      -webkit-filter: blur(50px);
      opacity: 0;
      will-change: -webkit-filter;
      .active & {
        -webkit-filter: blur(0);
        opacity: 1;
      }
    }
    &__links {
        transition: transform 0.6s, opacity 0.8s;
        transition-delay: 1s;
        transition-timing-function: $ease-out-back;
        opacity: 0;
        transform: translateY(20px);
      .active & {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.code-block {
  height: 400px;
  background: #eee;

}
