---
---


@import "variables";
@import "base";
@import "burger";


.demo-1 {
  .btn, .nav-pills a, #burger {
    transition: border 0.2s, background 0.2s, color 0.2s;
  }

  &.wrapper {
    transition: transform 0.4s;
    will-change: transform;
    .menu-open & {
      margin: 0;
      transform: translateX(500px);
    }
  }

  #burger {
    .menu-open & {
      i {
        &:before {
          content: "\f00d"
        }
      }
    }
    &:hover {
      color: darken(#337ab7, 10%);
    }
  }
}


.demo-2 {
  .hero {
    background: #222;
    &__bg {
      transition: opacity 0.8s;
      opacity: 0;
      &.loaded {
        opacity: 1;
      }
    }
  }
}

@keyframes slideup {
  from {
    transform: translateY(30px);
  }
}

@keyframes fadeIn {
  from {opacity: 0}
}

.demo-3 {
  .hero {
    &__content {
      animation: slideup 0.6s, fadeIn 2s;
    }
  }
}


$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);

@keyframes slideup1 {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes slideup2 {
  0%, 10% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes slideup3 {
  0%, 20% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.demo-4 {
  .hero {
    &__content {
      animation: slideup 1s $ease-out-back, fadeIn 2s;
    }
    &__links {
      li {
        animation: slideup1 1s $ease-out-back;
        &:nth-child(2) {
          animation-name: slideup2;
        }
        &:nth-child(3) {
          animation-name: slideup3;
        }
      }
    }
  }
  .drawer {
    transition: opacity 1s;
    opacity: 0;
    .menu-open & {
      opacity: 1;
    }
  }
}


@keyframes focusIn {
  from {
    opacity: 0;
    -webkit-filter: blur(50px);
  }
}

@keyframes slide-up-delay {
  0%, 50% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.demo-5 {
  .hero {
    &__content {
      animation: focusIn 1.5s;
      will-change: -webkit-filter;
    }
    &__links {
        animation: slide-up-delay 2s $ease-out-back;
    }
  }
}

.code-block {
  height: 400px;
  background: #eee;

}
